.drop__images {
  border: 2px dashed var(--solidFadedBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.attach__img {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attach__img > img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}

.attach__img > span {
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.image__style {
  display: none;
}
