.admin__header {
  /* border: 2px solid red; */
  max-width: 1440px;
  margin-inline: auto;
  padding: 20px;
}

.admin__page {
  border: 2px solid green;
  background-color: #f9fafb;
  display: flex;
  max-width: 1440px;
  margin-inline: auto;
  /* padding: 20px; */
  gap: 20px;
}

.children__styles {
  /* margin-top: 5rem; */
  width: 80%;
}

.admin__logo {
  /* width: 100%;
  position: fixed;
  top: 20px; */
}
