.side__bar {
  /* border: 2px solid red; */
  width: 300px;
}

.close__sidebar {
  display: none;
}
@media screen and (max-width: 768px) {
  .side__bar {
    position: fixed;
    top: 0;
    z-index: 9;
    min-height: 100vh;
    background-color: #fff;
    padding-top: 9rem;
    transition: ease 0.5s all;
    border-right: 2px solid var(--solidFadedBlue);
  }

  .remove__sidebar {
    left: -400px;
  }

  .add__sidebar {
    left: var(--small);
  }

  .close__sidebar {
    display: block;
    font-size: 25px;
    color: var(--solidFadedBlue);
    cursor: pointer;
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  .side__bar {
    width: 90%;
  }
}

.side__bar__input {
  margin-top: 2.5vh;
}
.side__bar__input input {
  height: 40px;
}

.side__bar__nav__items {
  margin-top: 20px;
}

.side__bar__nav__items ul li {
  list-style-type: none;
  padding-block: 20px;
  border-bottom: 1px solid #000;
  transition: ease 0.5s all;
}
.side__bar__nav__items ul li:hover {
  box-shadow: 0px 4px 56px 7px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
}

.side__bar__nav__items ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
