.servicecontainer {
  /* border: 2px solid red; */
  margin: 4rem auto 0;
  max-width: 1312px;
}
.serviceheader {
  color: var(--black);
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.56px;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    /* border: 2px solid red; */
    font-size: 20px;
  }
  @media screen and (max-width: 500px) {
    text-align: center;
    margin-inline: auto;
  }
}
.servicesprovidedcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.content {
  text-align: center;
  padding: 15px 0;
  width: 250px;
  align-self: center;
}
.serviceicon {
  width: 24px;
  height: 24px;
  color: #2f8ac7;
  border-radius: 10px;
}
.iconcontainer {
  background: var(--foundation-primary-color-primary-color-50, #ebf5fb);
  width: 40px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}
.servicetitle {
  color: var(--grey-900, #101928);
  font-feature-settings: "cv01" on, "cv04" on, "cv03" on;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 26.1px */
}
.servicetext {
  width: 248px;

  color: var(--grey-600, #475367);
  font-feature-settings: "cv04" on, "cv03" on;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 20.3px */
}
