.categoriescontainer{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0 10px;
max-width: 1312px;
justify-content: flex-start;
gap: 46px;
padding: 0 20px !important;

/* margin-bottom: 40px; */

}
.categoriesheadercontainer{
    display: flex;
width: 100%;

justify-content: space-between;
align-items: center;
padding: 0 20px;
}
.categoriesheader{
    color: var(--foundation-black-black-600, #2D2D2D);
text-align: center;
font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
font-family: "Montserrat", sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 33.6px */
letter-spacing: -0.56px;
}
.link{
    display: flex;
padding: 8px 12px 8px 16px;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 10px;
text-decoration: none;
border-radius: 30px;
color: var(--solidFadedBlue);
}
.categoriesimgcontainer{
   width: 100% !important;
   max-height: 550px;

   /* height: 100svh ; */
   display: flex;
   gap: 30px;
   align-items: center;
   justify-content: center;

}
.categoriesimgcontainer2{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
    width: 100% !important;
    height: auto;


}
.categoriesimg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: brightness(70%);

   
}
.categoriesimgleft{
  width: 100%;
 max-height: 200px;
flex-shrink: 0;
border-radius: 10px;
}

.containerimg{
    position: relative;

}
/* top text */
.toptext{
   display: flex;
  padding: 4px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 16px;
  left: 20px;
  border-radius: 12px;
  background: var(--foundation-primary-color-primary-color-600, #2F8AC7);  color: var(--white);
text-align: center;
font-feature-settings: 'cv04' on, 'cv01' on, 'cv03' on;
/* font-family: Open Sans; */
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 145%; /* 20.3px */
}
/* buttom text */
.buttomtext{
  position: absolute;
  bottom: 58px;
  left: 20px;
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex-wrap: wrap;
width: 442px;

}
.buttomheader > h2{
  font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
/* font-family: Open Sans; */
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 43.2px */
letter-spacing: -1.44px;
}
.buttomheader > sub{
  opacity: 0.8;
  color: var(--white, #FFF);
font-feature-settings: 'cv04' on, 'cv03' on;
/* font-family: Open Sans; */
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 145%; /* 20.3px */
}
.buttomheader{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
color: white;
}
.buttomtext > a{
  display: flex;
padding: 10px;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background:  #2F8AC7;
color: var(--shade-white, #FFF);
text-align: center;
font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
/* font-family: Open Sans; */
font-size: 16px;
font-style: normal;
text-decoration: none;
font-weight: 600;
/* line-height: 145%; 23.2px */
}
.buttontextsvg{
  width: 24px;
height: 24px;
}

@media (max-width: 280px) {
  .categoriescontainer{
    width: 100vw !important;
    height: 100svh;
    padding: 0 10px;
  }
  .categoriesheadercontainer{
    width: 97%;
  }
  .categoriesheader{
    font-size: 15px;
  }
  .categoriesimgcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100svh !important;
  }
  .containerimg{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }
  .categoriesimg{
    width: 100%;
    position: relative;
    /* height: 40px; */
    }
    .categoriesimgleft{
      width: 100%;
      height: auto;
 
  }
   /* top text */
.toptext{
  font-size: 10px;
 
 }
 /* buttom text */
 .buttomtext{
  position: absolute;
  bottom: 8px;
  
 gap: 10px;
 flex-wrap: wrap;
 width: 200px;
 
 }
 .buttomheader > h2{
  font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
 /* font-family: Open Sans; */
 font-size: 15px;
 font-style: normal;
 font-weight: 600;
 line-height: 120%; /* 43.2px */
 letter-spacing: -1.44px;
 }
 .buttomheader > sub{
 /* font-family: Open Sans; */
 font-size: 10px;
 font-style: normal;

 }
 
 
 .buttomtext > a{
  font-size: 10px;
  padding: 5px;
  align-items: center;

 
 }
}

 
/* media quary for medium size mobile devices */
@media (min-width: 330px) and (max-width: 765px) {
  .categoriescontainer{
    width: 100vw !important;
    height: 100svh;
    padding: 0 10px;
  }
  .categoriesheadercontainer{
    width: 97%;
  }
  .categoriesheader{
    font-size: var(--subhead);
  }
  .categoriesimgcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100svh !important;

  }
  .containerimg{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }
  .categoriesimg{
    width: 100%;
    position: relative;
    /* height: 40px; */
    }
    .categoriesimgleft{
      width: 100%;
 
  }
    /* top text */
.toptext{
 font-size: 10px;

}
/* buttom text */
.buttomtext{
 position: absolute;
 bottom: 28px;
 
gap: 24px;
flex-wrap: wrap;
width: 342px;

}
.buttomheader > h2{
 font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
/* font-family: Open Sans; */
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 43.2px */
letter-spacing: -1.44px;
}


.buttomtext > a{
 font-size: 16px;

}
.buttontextsvg{
 width: 24px;
height: 24px;
}

    
    
}
/* Media query for large screens */
@media (min-width: 1024px) {
  .categoriescontainer{
    width: 100vw !important;
    /* height: 100svh !important; */
    padding: 0 10px;
    margin-bottom: 150px ;
  }
  .categoriesheadercontainer{
    width: 100%;
  }
  .categoriesheader{
    font-size: var(--subhead);
  }
  .categoriesimgcontainer{
    display: flex;
    gap: 10px;
    height: 100svh !important;

    /* flex-wrap: wrap; */
    width: 97vw;
  }
  .containerimg{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }
  .categoriesimg{
    width: 100%;
    position: relative;
    /* height: 40px; */
    }
    .categoriesimgleft{
      width: 100% !important;
      background-color: #2D2D2D;
    }
  } 
  
 /* Media query for tablets */
 @media (min-width: 767px) and (max-width: 1023px) {
  .categoriescontainer{
    width: 100vw !important;
    height: 100svh !important;
    padding: 0 10px;
    margin-bottom: 100px ;
  }
  .categoriesheadercontainer{
    width: 97%;
  }
  .categoriesheader{
    font-size: var(--subhead);
  }
  .categoriesimgcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100svh !important;

  }
  .containerimg{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }
  .categoriesimg{
    width: 100%;
    position: relative;
    /* height: 40px; */
    }
    .categoriesimgleft{
      width: 95vw !important;
    }
 }
 @media screen and (width: 540px) {
  .categoriescontainer{
    width: 100vw !important;
    height: 130vh ;
    padding: 0 10px;
  }

  .categoriesimgcontainer{
    display: block;
    gap: 20px;
    height: 100svh !important;

    width: 100%;
  }
  .categoriesimgcontainer2{
    margin-top: 25px;
  }
  .categoriesimg1{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .categoriesimg{
    width: 100%;
    position: relative;
    /* height: 40px; */
    }
    .categoriesimgleft{
      width: 100%;
 
  }
    /* top text */
.toptext{
 font-size: 15px;

}
/* buttom text */
.buttomtext{
 position: absolute;
 bottom: 28px;
 
gap: 24px;
flex-wrap: wrap;
width: 342px;

}
.buttomheader > h2{
 font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
/* font-family: Open Sans; */
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 43.2px */
letter-spacing: -1.44px;
}
.secondh2{
  font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
  /* font-family: Open Sans; */
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 43.2px */
  letter-spacing: -1.44px;
}

.buttomtext > a{
 font-size: 16px;

}

 }

