.signup__inputs__side {
  /* border: 2px solid red; */
  width: 35%;
  text-align: center;
}

.signup__inputs__side h1 {
  font-size: var(--header);
}
@media screen and (max-width: 1024px) {
  .signup__inputs__side {
    width: 380px;
  }
}
@media screen and (max-width: 912px) {
  .signup__inputs__side {
    width: 350px;
  }
}
@media screen and (max-width: 820px) {
  .signup__inputs__side {
    /* border: 2px solid red; */
    margin-top: 12rem;
  }
}
@media screen and (max-width: 420px) {
  .signup__inputs__side {
    width: 100%;
  }
}

.signup__inputs__side > div:nth-child(2) {
  /* border: 2px solid red; */
  margin-block: 2rem;
}
.signup__inputs__side > div:nth-child(2) img {
  margin-inline: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.input__style {
  margin-top: 10px;
}

.input__style > input::placeholder {
  padding-left: 10px;
}

.hide__sign__response {
  margin-block: 5px;
  color: #fff;
  padding-block: 10px;
  font-weight: 600;
  /* transform: scale(0); */
  opacity: 0;
  transition: ease 1s all;
}
.show__sign__response {
  /* transform: scale(1); */
  opacity: 1;
}
.error__sign__response {
  background-color: #aa0707;
  /* transform: scale(1); */
  opacity: 1;
}
.success__sign__response {
  background-color: #056f05;
  /* transform: scale(1); */
  opacity: 1;
}

.signUpBtn {
  background-color: var(--solidFadedBlue);
  border: none;
  border-radius: 10px;
  color: var(--white);
  width: 50%;
  padding-block: 15px;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.signUpBtn:hover {
  opacity: var(--hoverOpacity);
}
.signUpBtn:active {
  transform: scale(0.8);
}

.signup__inputs__side > p:last-child a {
  color: var(--solidFadedBlue);
  font-weight: 600;
}
.signup__inputs__side > p:last-child a:hover {
  opacity: var(--hoverOpacity);
}
