.adcontainer {
  height: 350px;
  border-radius: 10px;
  background-image: url(../../../assets/images/giftbag.png);
  background-blend-mode: color-burn;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
}
.adsection {
  max-width: 1312px;
  margin: 0 auto 100px;
}
.adContent {
  width: 50%;
  height: 100%;
  color: var(--white, #fff);
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;
  font-size: var(--header);
  font-style: normal;
  font-weight: 600;
  line-height: 5.5vw;
  letter-spacing: -1.44px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  justify-content: center;
  align-items: center;
}

.adheader {
  font-size: 5vw;
}

@media (min-width: 1024px) {
  .adcontainer {
    background-position: center;
  }
}

/* media quary for medium size mobile devices */
@media (min-width: 330px) and (max-width: 912px) {
  .adcontainer {
    background-position: center;
  }
}
@media (max-width: 500px) {
  .adContent {
    width: 80%;
    line-height: 1cm;
  }
  .adheader {
    font-size: 30px;
  }
}
@media (max-width: 280px) {
  .adcontainer {
    background-position: center;
  }
}
