apiVersion: v1
kind: Service
metadata:
  name: storefront-backend
  labels:
    app: storefront-backend
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: storefront-backend
