.section {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  gap: 70px;
  padding-inline: var(--small);
}
.descriptioncontainer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 56px; */
  max-width: 1312px;
  flex-direction: row;
  /* margin: 0 20px; */
}
.descriptionimg {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  width: 40%;
  /* height: 76svh; */
}
.description_img {
  min-height: 50vh;
  width: 100%;
}
.description_img1 {
  border-radius: 4px 4px 0px 0px;
  background: lightgray 50% / cover no-repeat;
  width: 23%;
}
.descriptionimg_other {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.description {
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.descriptiontitle {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 570px;
}
.descriptiontitle > h1 {
  color: var(--grey-900, #101928);
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.64px;
}
.descriptiontitle > p,
.Deliverytext {
  color: var(--grey-500, #667185);
  font-feature-settings: "cv04" on, "cv03" on;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 20.3px */
}
.descriptiontitle > sub {
  color: var(--grey-700, #344054);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 20.3px */
}
.descriptionprize {
  /* width: 570px; */
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  /* height: 77px; */
  flex-shrink: 0;
}

.descriptionprize > p {
  color: var(--grey-900, #101928);
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
}
.descriptionprize > sub {
  color: var(--grey-500, #667185);
  font-feature-settings: "cv04" on, "cv03" on;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
.descriptioncolor,
.descriptionsize,
.descriptionamountdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  /* background-color: aqua; */
}
.descriptionamountdiv {
  border: none;
}
.descriptioncolor > p,
.descriptionsize > p {
  color: var(--grey-900, #101928);
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;

  /* Paragraph/Medium/Semibold */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
}
.span {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid red;
}

.spansize {
  display: flex;
  width: 58px;
  padding: 12px 19px 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--foundation-primary-color-primary-color-50, #ebf5fb);
}
.descriptionamountdiv > p {
  width: 139px;
  color: black;

  /* Paragraph/Small/Regular */
  font-size: 20px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 145%; /* 20.3px */
}

.Deliverycontainer {
  border: 1px solid gray;
  padding: 10px;
}
.svg {
  color: #2f8ac7;
}

@media screen and (max-width: 1030px) {
  .descriptioncontainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .descriptionimg {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding-bottom: 50px;
  }
  .description_img {
    height: auto;
  }
  .description_img1 {
    width: 23%;
    height: auto;
  }
  .description {
    width: 70%;
  }
  .descriptiontitle,
  .descriptionprize,
  .descriptioncolor,
  .descriptionsize,
  .buy_addtocart_btn,
  .descriptionimg {
    width: 100%;
  }
  .buy_addtocart_btn {
    gap: 10px;
    justify-content: flex-start;
  }

  /* .buy_addtocart_btn > button {
    width: 150px;
  } */
}

@media screen and (max-width: 700px) {
  .description {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .descriptiontitle > h1 {
    font-size: 25px;
  }
}

/* fav */
/* animation: myfav 1s ease-in 0s 1 normal both;
@keyframes myfav {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
} */
