.brandcontainer {
  max-width: 1312px;
  margin: 0 auto 40px;
}

.brandcontainer h1 {
  font-size: var(--header);
}

.brandimgcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brandimg {
  width: 150px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .brandimgcontainer {
    width: 100%;
    justify-content: center;
  }
  .brandimg {
    width: 13vw;
  }
}
