.brandcontainer{
    display: flex;
    width: 1312px;
    flex-direction: column;
    justify-content: center;
    gap: 46px;
    padding: 0 50px;
    margin-bottom: 40px;

}
.brandimgcontainer{
    display: flex;
    max-width: 1312px;
    justify-content: space-around;
    align-items: center;
    
}
.brandimg{
    width: 150px;
    height: 77.622px;
    flex-shrink: 0;
}

/* media quary for medium size mobile devices */
@media (min-width: 330px) and (max-width: 765px) {
    .brandcontainer{
        width: 100% !important;
    }
    .brandimgcontainer{
        width: 100% ;
        display: flex;
        gap: 0;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-content: flex-start;
    }
    .brandimg{
        width: 53px;
        height: 40px;
    }
}
@media (max-width: 280px) {
    .brandcontainer{
        width: 100% !important;
        padding: 0;
    }
    .brandimgcontainer{
        width: 100% ;
        display: flex;
        gap: 0;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-content: flex-start;
    }
    .brandimg{
        width: 37px;
        height: auto;
    }
}

 /* Media query for tablets */
 @media (min-width: 767px) and (max-width: 1024px) {
    .brandcontainer{
        width: 100vw !important;
        padding: 20px;
    }
    .brandimgcontainer{
        width: 100% ;
        display: flex;
        gap: 0;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-content: flex-start;
    }
    .brandimg{
        width: 100px;
        height: auto;
    }
  }
  @media screen and (width: 540px) {
    .brandimg{
        width: 74px;
        height: auto;
    }
  }
