.hero__section {
  /* border: 2px solid red; */
  margin-top: 6rem;
  max-width: 700px;
  margin-inline: auto;
  text-align: center;
}

.hero__section > h1 {
  font-size: 35px;
  margin-block: 1rem;
  line-height: 1.4cm;
}

.hero__section > p {
  max-width: 550px;
  margin: 20px auto;
  line-height: 0.8cm;
}
@media screen and (max-width: 820px) {
  /*  */
}
@media screen and (max-width: 640px) {
  .hero__section {
    max-width: 500px;
  }
  .hero__section > h1 {
    font-size: 25px;
    line-height: 1cm;
  }
  .hero__section > p {
    max-width: 400px;
    line-height: 0.6cm;
  }
}

.try__cloud > button {
  border: 2px solid var(--solidBlue) !important;
  color: #fff;
  background-color: var(--solidBlue) !important;
  border-radius: 8px !important;
}
.try__cloud > button:hover {
  border: 2px solid var(--solidBlue) !important;
  color: var(--solidBlue) !important;
  background-color: #fff !important;
}

.self__host > button {
  border: 2px solid var(--solidBlue) !important;
  color: var(--solidBlue);
  padding-inline: 25px !important;
  border-radius: 8px !important;
}
.self__host > button:hover {
  border: 2px solid var(--solidBlue);
  color: #fff;
  background-color: var(--solidBlue);
}

.hero__btns {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  gap: 10px;
}
