.nav {
  margin: 20px;
  width: fit-content;

border: none;
text-decoration: none;
}

.nav a {
  border: none;
  text-decoration: none;
  font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
color:  #2F8AC7;

}
