
  .checkout__header{
    display: flex;
    justify-content: space-between;

  }
  .checkout__header > h2 span{
    height: 15px;
    width: 15px;
    padding: 6px 12px;
    border-radius: 30px;
    align-items: center;
    background-color: #2F8AC7;
  }
  .checkout__header > h2{
    color: var(--grey-900, #101928);
font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 33.6px */
letter-spacing: -0.56px;
  }
  .checkout__header > button{
    background-color: transparent;
    border: none;
    padding: 10px;
  }
  .checkout__card__items__div, .checkout__card__delivery{
    width: 100%;
    border-radius: 10px;


  }
  .checkout__card__items__div{
    padding: 30px ;
    border: 1px solid gray;
    height: fit-content;


  }
  .checkout__card{
    display: flex;
    flex-direction: column;
    place-items: top;
    gap: 40px;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2; 
  }
  .checkout__card__body{
    width: 100%;
    display: grid;
    height: auto !important;
    grid-template-columns: 0.2fr 1fr;
    /* grid-template-rows: 1fr; */
    grid-column-gap: 20px;
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
    padding-bottom: 20px;
    place-items: top;
    
   
  }
  .checkout__payment__card{
    grid-area: 1 / 2 / 2 / 3; 
  }
  .checkout__img{
    width: 100%;
    height: auto;
  }
  .checkout__img__container{
    width: 120px;
    height: 120px;
    grid-area: 1 / 1 / 2 / 2; 
  }
  .checkout__description{
    display: grid;
    place-items: start;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-rows:repeat(1, 1fr) ;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px 0;
  }
  .checkout__details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 768px) {
    flex-wrap: wrap;
    gap: 10px;      

    }
  }
  .checkout__details >p{
    width: 162px;
    color: var(--grey-900, #101928);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    @media (max-width: 768px) {
      width: fit-content;
      font-size: 12px;
      font-weight: bold;
      

    }
  }
  .checkout__details >p span{
    color: var(--grey-900, #101928);
    font-feature-settings: 'cv01' on, 'cv04' on, 'cv03' on;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 26.1px */

    @media (max-width: 768px) {
     font-size: 15px !important;
      

    }
   }
  .checkout__size__color > p { 
    color: var(--grey-600, #475367);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 145%;
  }



  /* payment css */
  .checkout__payment__container{
    border: 1px solid gray;
    border-radius: 10px;

  }
  .checkout__payment__content{
    display: grid;
    width: 100%;
    padding: 30px ;
    gap: 15px;

  }
  .Payment__div{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;

  }
  .checkout__discount{
    display: flex;
    width: 100%;
    gap: 20px;
    padding:  10px 0;
    @media (max-width: 768px) {
      flex-direction: column;       

     }
  }
  .checkout__discount input{
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    width: 60%;
    @media (max-width: 768px) {
    width: 100%; 
    padding: 10px 15px;      

     }
  }
  .checkout__discount button{
    width: 40%;
    @media (max-width: 768px) {
      width: 100%;       
  
       }
  }
.payment__options{
  border-bottom: 1px solid gray;
  padding:  10px 0;


}

  .label__control__radio{
    width: 100%;
	display:flex;
	align-items: center;
  align-self: stretch;
	justify-content: flex-end;
	flex-direction: row-reverse;
	margin: 10px 0;
	font-size: 16px;
	cursor: pointer;
  @media (max-width: 768px) {
    font-size: 13px;
     }
  }
  .label__control__radio input{
    display:none;
	width: 0;
	height: 0;
  }
  .label__control__radio span{
    width: 20px;
	height: 20px;
	position: relative;
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #bdbdbd;
  }

  .label__control__radio input:checked + span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2F8AC7;
  }
  .label__control__radio input:checked + span {
    background-color: #e5e5e5 ;
  }
  
  .label__control__radio span:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 50%;
    background-color: #2F8AC7;
  }
  .label__control__radio input:checked + span:before {
    animation: growAndFade 0.2s ease-out;
  } 
  @keyframes growAndFade {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.5);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }
  /* shared css */

  .checkout__button{
    width: 100%;
    background-color: #2F8AC7;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 20px;
  }

  /* card information */

  .checkout__card__information{
    display: grid;
    gap: 20px;
    grid-template-rows: auto 1fr;
    width: 100%;
    border-bottom: 1px solid gray;
    padding:  10px 0;

  }
  .checkout__card__information input{
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 16px 24px;  
    margin: 10px 0;
  }
  .checkout__expiry__cvv__div{
    width: 100%;
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
  }

  /* total cost */

  .checkout__total__cost__div{
    border-bottom: 1px solid gray;
    padding:  10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .checkout__total__cost__div p{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
  }
  .checkout__total p {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
  }
 