.single__cart__card {
  /* border: 2px solid green; */
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 30px;
  margin-top: 10px;
}

.img__con img {
  width: 220px;
  height: 150px;
  border-radius: 5px;
}
@media screen and (max-width: 650px) {
  .single__cart__card {
    padding-right: var(--small);
  }
  .img__con img {
    width: 30vw;
    height: 30vw;
  }
}

.single__cart__card summary {
  /* border: 2px solid red; */
  width: 100%;
}

.each__cart__header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 650px) {
  .each__cart__header {
    gap: 2vw;
  }
}

.each__cart__header h4 {
  /* border: 2px solid red; */
  width: 180px;
  margin-bottom: 10px;
}

.each__cart__header h3 {
  display: flex;
}

.single__cart__card summary > p {
  line-height: 0.6cm;
}
@media screen and (max-width: 500px) {
  .each__cart__header h4 {
    margin-bottom: 0px;
    font-size: 15px;
    width: 150px;
  }

  .each__cart__header h3 {
    font-size: 15px;
  }

  .single__cart__card summary > p {
    line-height: 0.4cm;
    font-size: 14px;
  }
}

.single__cart__card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .single__cart__card footer {
    margin-top: 5px;
  }
}
