.favourite__container {
  position: fixed;
  /* top: 0; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;

  @media (max-width: 768px) {
    justify-content: center !important;
  }
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  width: 590px;
  height: 100%;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--grey-100, #f0f2f5);
  background: var(--shade-white, #fff);
  @media (max-width: 768px) {
    width: 100%;
    border-radius: 0;
    margin-top: 118px;
  }
}
.favourite__header {
  display: flex;
  justify-content: space-between;
}
.favourite__header > h2 span {
  height: 15px;
  width: 15px;
  padding: 6px 12px;
  border-radius: 30px;
  align-items: center;
  background-color: #2f8ac7;
}
.favourite__header > h2 {
  color: var(--grey-900, #101928);
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
  letter-spacing: -0.56px;
}
.favourite__header > button {
  background-color: transparent;
  border: none;
  padding: 10px;
}
.favourite__card {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  /* grid-template-columns:repeat(2, 1fr) ; */
  overflow-y: auto;

  gap: 15px;
}
.favourite__img {
  width: 100%;
}
.favourite__img__container {
  width: 100%;
  position: relative;
}
.favourite__description {
  display: grid;
  place-items: start;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.favourite__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.favourite__details > p {
  width: 162px;
  color: var(--grey-900, #101928);
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.favourite__details > p span {
  color: var(--grey-900, #101928);
  font-feature-settings: "cv01" on, "cv04" on, "cv03" on;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 26.1px */
}
.favourite__size__color > p {
  color: var(--grey-600, #475367);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
.favourite__add__button {
  display: flex;
  padding: 8px 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1.5px solid var(--grey-300, #d0d5dd);
  background: var(--shade-white, #fff);
}
.favourite__del__button {
  border: none;
  background-color: transparent;
  width: 24px;
  height: auto;
}
.btn {
  color: #101928;
  font-weight: bold;
}

.favourite__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: ease 0.5s all;
}
.favourite__icon:hover {
  transform: scale(1.2);
}
