.sectioncontainer {
  /* border: 2px solid green; */
  margin-bottom: 50px;
}

.heroContainer {
  /* border: 2px solid red; */
  max-width: 1312px;
  margin-inline: auto;
  height: auto;
  border-radius: 10px;
  background-image: url(../../../assets/images/herobanner.png);
  background-blend-mode: color-burn;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.heroContent {
  /* border: 2px solid red; */
  padding-block: 100px;
  margin-left: 3rem;
  width: 55%;
}

.heroheader {
  width: fit-content;
  color: var(--white, #fff);
  font-feature-settings: "cv04" on, "cv01" on, "cv03" on;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 12px;
  background: var(--foundation-secondary-color-secondary-color-600, #239e57);
}

.herolargesubtext {
  color: var(--white, #fff);
  font-feature-settings: "cv04" on, "cv03" on, "cv01" on;
  font-size: 5vw;
  line-height: 105%;
  letter-spacing: -1.28px;
  margin-block: 20px;
}
@media screen and (max-width: 768px) {
  .heroContent {
    padding-block: 100px;
    margin-left: 4vw;
    width: 60%;
  }
  .herolargesubtext {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .heroContent {
    width: 80%;
  }
}

.herobtn {
  text-decoration: none;
}

.join__us__btn > button {
  color: var(--white, #fff);
  border-radius: 5px !important;
  background: var(--solidFadedBlue) !important;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.join__us__btn > button span:first-child {
  display: block;
  margin: 5px 0 0 10px;
  /* border: 2px solid red; */
}
