.add__new__items {
  /* border: 2px solid blue; */
  width: 100%;
  padding: 20px 20px 0px 0px;
  padding-bottom: 4rem;
}

.add__items__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs__con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.inputs__con > div {
  margin-top: 20px;
}
@media screen and (max-width: 820px) {
  .inputs__con {
    grid-template-columns: 1fr;
  }
}

.items__input {
  margin-top: 10px;
}

.items__input input {
  background-color: #fff;
  border: 1px solid #000;
  padding-left: 15px;
}

.inputs__con input:focus {
  outline: 2px solid #000;
  border: none;
}

.items__input img {
  display: none;
}

.drop__images {
  border: 2px dashed var(--solidFadedBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  border-radius: 10px;
  background-color: #fff;
}

.drop__images img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.drop__images p {
  font-weight: 600;
}

.confirm__btn button {
  background-color: var(--solidFadedBlue);
  color: #fff;
}
