.header {
  /* border: 2px solid red; */
  max-width: 1285px;
  margin: var(--small) auto;
  padding-inline: var(--small);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  /* border: 2px solid gray; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  /* border: 2px solid yellow; */
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul:first-child {
  width: 25%;
}
.nav ul:last-child {
  width: 65%;
}
@media screen and (max-width: 1024px) {
  .nav ul:first-child {
    width: 25%;
  }
  .nav ul:last-child {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  /* The next break point */
}

.second__nav__item li div {
  margin-block: auto;
}

.second__nav__item li a img {
  width: 15px;
  height: 15px;
}

.nav ul li {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  display: block;
  text-align: center;
}

.nav__icon {
  /* color: var(--white); */
}
