.header {
  /* border: 2px solid red; */
  max-width: 1285px;
  margin: var(--small) auto;
  padding-inline: var(--small);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open__nav,
.close__nav {
  display: none;
}

.nav {
  /* border: 2px solid gray; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  /* border: 2px solid yellow; */
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul:first-child {
  width: 25%;
}
.nav ul:last-child {
  width: 65%;
}
@media screen and (max-width: 1024px) {
  .nav ul:first-child {
    width: 25%;
  }
  .nav ul:last-child {
    width: 70%;
  }
}
@media screen and (max-width: 912px) {
  .header {
    /* border: 2px solid red; */
    /* max-width: 1285px;
  margin: var(--small) auto;
  padding-inline: var(--small);
  display: flex;
  justify-content: space-between;
  align-items: center; */
  }

  .nav {
    /* border: 2px solid gray; */
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--solidFadedBlue);
    position: fixed;
    top: 0px;
    right: 0px;
    min-height: 100vh;
    z-index: 99;
  }

  .nav ul {
    border: 2px solid red;
    width: 100%;
    flex-direction: column;
  }
  .nav ul:first-child {
    margin-top: 6rem;
    /* width: 25%; */
  }
  .nav ul:last-child {
    /* width: 65%; */
  }
}

.second__nav__item li div {
  margin-block: auto;
}

.second__nav__item li a img {
  width: 15px;
  height: 15px;
}

.nav ul li {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  display: block;
  text-align: center;
}

.nav__icon {
  /* color: var(--white); */
}

.add__active__page__border {
  border-bottom: 3px solid var(--solidFadedBlue);
  padding-bottom: 3px;
}
