.header {
  /* border: 2px solid red; */
  position: fixed;
  top: 0px;
  right: 50%;
  transform: translateX(50%);
  backdrop-filter: blur(20px);
  z-index: 999;
  height: 60px;
  max-width: 1285px;
  width: 100%;
  /* margin: var(--small) auto; */
  padding-inline: var(--small);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open__nav,
.close__nav {
  display: none;
}

.nav {
  /* border: 2px solid gray; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  /* border: 2px solid yellow; */
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .first__nav__item {
  width: 25%;
}
.nav .second__nav__item {
  width: 65%;
}
@media screen and (max-width: 1024px) {
  .nav .second__nav__item {
    width: 70%;
  }
}
@media screen and (max-width: 912px) {
  .header {
    /* border: 2px solid red; */
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    position: fixed;
    margin: var(--small) auto;
    top: -16px;
  }

  .nav__logo {
    position: absolute;
    top: 20px;
  }

  .open__nav,
  .close__nav {
    display: block;
    right: 20px;
    width: 40px;
    cursor: pointer;
  }

  .open__nav {
    position: absolute;
    top: 10px;
  }

  .close__nav {
    position: absolute;
    top: 10px;
  }

  .nav {
    /* border: 2px solid gray; */
    position: relative;
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--solidFadedBlue);
    position: fixed;
    top: 0px;
    right: -300px;
    min-height: 100vh;
    transition: ease 0.5s all;
    z-index: 99;
  }
  .open__nav__control {
    right: 0px;
  }

  .nav ul {
    /* border: 2px solid red; */
    /* width: fit-content; */
    flex-direction: column;
  }
  .nav .first__nav__item {
    margin-top: 5rem;
    /* width: 25%; */
  }
  .nav .second__nav__item {
    /* margin-top: 20px; */
    /* width: 65%; */
  }

  .first__nav__item li {
    margin-top: 20px;
    color: #fff;
  }

  .first__nav__item li a {
    color: #fff;
  }

  .second__nav__item {
    /* border: 2px solid red; */
  }

  .second__nav__item li {
    margin-top: 20px;
  }

  .nav ul li > button {
    color: #fff;
  }

  .second__nav__item li a {
    color: #fff;
  }
}

.second__nav__item li > button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.second__nav__item li div {
  margin-block: auto;
}

.nav__input input {
  height: 40px !important;
}

.nav ul li {
  list-style-type: none;
}
.nav ul li:hover {
  transform: scale(1.05);
}

.nav a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  display: block;
  text-align: center;
}

.nav__icon {
  /* color: var(--white); */
}

.add__active__page__border {
  border-bottom: 3px solid var(--solidFadedBlue);
  padding-bottom: 3px;
}
