.signinsection {
  /* width: 100%; */
  overflow: hidden;
  display: flex;
  max-width: 1285px;
  /* padding-top: 50px; */
  padding-inline: var(--small);
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  min-height: 80vh;
  align-items: flex-start;
  gap: 250px;
}

.signinHeaders {
  color: #2d2d2d;
  font-family: "Montserrat", sans-serif;
  margin-bottom: var(--small);
  font-size: var(--subhead) !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.welcometext {
  color: #5a5a5a;
  font-family: "Montserrat", sans-serif;
  width: 250px;
  font-weight: 600;
  line-height: normal;
}
.leftsvg {
  width: 100%;
  height: auto;
  margin-block: 4rem;
}

.rightWelcomediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  justify-content: right;
  position: relative;
  right: 0;
  gap: 20px !important;
  width: 45% !important;
  background-color: aqua;
  text-align: center;}

.signindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.signinsocials {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.signuplink {
  text-decoration: none;
  color: #2f8ac7;
}
.svg {
  border-radius: 50%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5a5a5a;
}
.svgimg {
  width: 30px;
  height: 30px;
}
.signintext {
  color: #5a5a5a;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.signinformcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 100% !important;
}
.input {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #ebf5fb;
  text-align: left;
}
.btndiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button {
  display: flex;
  width: 171px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #2f8ac7;
  border: none;
}
.button:active{
  transform: scale(0.8);

}
.inputdiv {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  border-radius: 8px;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  background-color: #ebf5fb;
}
.inputicon {
  height: 1em;
  width: 1em;
  fill: gray;
}

.inputfield {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: tan;
}
@media screen and (min-width: 1024px) {
  .formContainer {
    gap: 100px;
    display: flex;
    flex-direction: row !important;
  }
  .leftWelcomediv{
    width: 45% !important;
  }
  .signinHeaders{
    margin-bottom: var(--small);
    font-size: var(--subhead) !important;
  }
  

}
@media screen and (max-width: 412px) {
  .formContainer {
    flex-direction: column;
    width: 100%;
    gap: 0px;
    /* margin-bottom: 20px; */
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
    height: 100svh;
  }
  .leftsvg {
    width: 350px;
  }
  .leftWelcomediv {
    /* margin-top: 50px; */
    gap: 50px;
  }
  .signinHeaders {
    text-align: center !important;
    width: 100%;
  }
  .signinformcontainer {
    display: grid;
    place-items: center;
    gap: 16px;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 10px;
  }
  .inputfield {
    width: 100%;
  }
}
@media screen and (max-width: 912px) {
  .formContainer {
    flex-direction: column;
    width: 100%;
    gap: 0px;
    padding: 0 100px;
    /* margin-bottom: 20px; */
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
    height: 77svh;
  }
  .leftsvg {
    width: 700px;
    /* background-color: #2D2D2D; */
  }
  .leftWelcomediv {
    /* margin-top: 50px; */
    gap: 70px;
  }
  .rightWelcomediv {
    gap: 70px;
  }
  .signintext {
    font-size: 30px;
  }
  .signinHeaders {
    text-align: center !important;
    width: 100%;
    font-size: 70px !important;
  }
  .welcometext {
    text-align: center !important;
    width: 100%;
  }

  .signinformcontainer {
    display: grid;
    place-items: center;
    gap: 16px;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 10px;
  }
  .inputfield {
    width: 100%;
  }
}
@media screen and (max-width: 280px) {
  .formContainer {
    flex-direction: column;
    width: 100%;
    gap: 0px;
    /* margin-bottom: 20px; */
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
  .leftsvg {
    width: 250px;
  }
  .leftWelcomediv {
    /* margin-top: 50px; */
    gap: 20px;
  }
  .signinHeaders {
    text-align: center !important;
    width: 100%;
  }
  .signinformcontainer {
    display: grid;
    place-items: center;
    gap: 16px;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 10px;
  }
  .inputfield {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .leftsvg {
    width: 450px !important;
  }
  .leftWelcomediv {
    /* margin-top: 50px; */
    gap: 20px;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
  .rightWelcomediv {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .leftsvg {
    width: 500px;
  }
  .signinHeaders {
    font-size: 40px !important;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
}
@media screen and (max-width: 820px) {
  .leftsvg {
    width: 600px;
  }
  .signinHeaders {
    font-size: 50px !important;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
}
@media screen and (max-width: 375px) {
  .leftsvg {
    width: 330px !important;
  }
  .signinHeaders {
    font-size: 25px !important;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100% !important;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
  .formContainer {
    width: 100%;
    padding: 20px !important;
  }
  .signintext {
    font-size: 20px !important;
  }

  .welcometext {
    text-align: center !important;
    width: 100%;
  }
  .signinformcontainer {
    padding: 0 1px;
  }
}
@media screen and (max-width: 414px) {
  .leftsvg {
    width: 360px !important;
  }
  .signinHeaders {
    font-size: 25px !important;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100% !important;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
  .formContainer {
    width: 100%;
    padding: 20px !important;
  }
  .signintext {
    font-size: 20px !important;
  }
}
.formContainer{
  max-width: 1285px;
  width: 100%;
  margin-inline: auto;
}
.leftWelcomediv,
.rightWelcomediv {
  width: 100%;
  padding: 0 20px;
  justify-content: center;
  text-align: center;
  align-items: center;

  /* height: 90svh; */
}
.leftsvg {
  width: 100%;
  /* background-color: #2D2D2D; */
}
.leftWelcomediv {
  gap: 10px;
  padding-top: 20px;
  height: auto;
  background-color: #2f8ac7;
}
.rightWelcomediv {
  gap: 20px;
}
.signintext {
  font-size: var(--small);
}
.signinHeaders {
  text-align: center !important;
  width: 100%;
  font-size: 36px !important;
}
.welcometext {
  text-align: center !important;
  width: 100%;
}

.signinformcontainer {
  display: grid;
  place-items: center;
  gap: 6px;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 10px;
}
.inputfield {
  width: 100%;
}

@media screen and (max-width: 280px) {
  .formContainer {
    flex-direction: column;
    width: 100%;
    gap: 0px;
    /* margin-bottom: 20px; */
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
  .leftsvg {
    width: 250px;
  }
  .leftWelcomediv {
    /* margin-top: 50px; */
    gap: 20px;
  }
  .signinHeaders {
    text-align: center !important;
    width: 100%;
  }
  .signinformcontainer {
    display: grid;
    place-items: center;
    gap: 16px;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 10px;
  }
  .inputfield {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .leftsvg {
    width: 450px !important;
  }
  .leftWelcomediv {
    /* margin-top: 50px; */
    gap: 20px;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
  .rightWelcomediv {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .leftsvg {
    width: 500px;
  }
  .signinHeaders {
    font-size: 30px !important;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
}
@media screen and (max-width: 820px) {
  .leftsvg {
    width: 600px;
  }
  .signinHeaders {
    font-size: 30px !important;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
}
@media screen and (max-width: 375px) {
  .leftsvg {
    width: 330px !important;
  }
  .signinHeaders {
    font-size: 25px !important;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100% !important;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
  .formContainer {
    width: 100%;
    padding: 20px !important;
  }
  .signintext {
    font-size: 20px !important;
  }

  .welcometext {
    text-align: center !important;
    width: 100%;
  }
  .signinformcontainer {
    padding: 0 1px;
  }
}
@media screen and (max-width: 414px) {
  .leftsvg {
    width: 360px !important;
  }
  .signinHeaders {
    font-size: 25px !important;
  }
  .leftWelcomediv,
  .rightWelcomediv {
    width: 100% !important;
    padding: 0;
    justify-content: center;
    text-align: center;
    height: 80svh;
  }
  .formContainer {
    width: 100%;
    padding: 20px !important;
  }
  .signintext {
    font-size: 20px !important;
  }

  .welcometext {
    text-align: center !important;
    width: 100%;
  }
  .signinformcontainer {
    padding: 0 1px;
  }
}
