.input__box {
  position: relative;
}

.input__box input {
  height: var(--large);
  width: 100%;
  padding-left: 3rem;
  background-color: var(--fadedBlue);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.input__box input::placeholder {
}

.input__box input:focus {
  outline: 2px solid #2e88c7;
}

.input__box img {
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  /* width: auto;
  height: auto; */
  width: 20px;
}
